.homepage {
    background-image: url('../public/images/bg.png');
    display: inline-flex;
    width: 1519px;
    height: 700px;

}

#strike {
    color: #FFFFFF;
    text-decoration-line: line-through;
    text-decoration-color: red;
}

.poster h1 {
    width: 799px;
    height: 70px;

    /* font-family: 'Raleway'; */
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 125%;
    margin: 0px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    padding-left: 15px;

}

ul {
    list-style-type: none;
    margin: none;
}

.poster2 {
    display: inline-flex;
    padding-right: 260px;



}


.list li {

    width: 401px;
    height: 32px;
    margin-top: 28px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    align-items: center;




}


.poster li {


    display: inline-flexbox;
    color: white;

}

.logos li img {

    width: 58px;
    height: 58px;
}

.poster span {
    color: #0096FF;
}

strike {
    color: red;
}


.poster {
    margin: 30px;

}

.heading {
    padding-left: 25px;
}


.form {
    width: 400px;
    height: 640px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-top: 10px;
    padding-right: 30px;


}




.first h1 {
    width: 38px;
    height: 38px;
    background: #0096FF;
    border-radius: 1000px;
    margin: 10px 50px;
    color: #FFFFFF;
    font-size: larger;

}

.head p {
    color: #3C4852;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 125.3%;

}

.sub {
    display: inline-flex;
}

.dot1 {
    display: inline-block;
}

.dot2 {
    display: inline-block;
}


.two {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.sec {
    width: 380px;
    height: 60px;

    border: 2px solid #BEBEBE;
    background-color: #BEBEBE;
    border-radius: 8px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;


}

.thi {

    width: 380px;
    height: 60px;
    margin: auto;
    border: 2px solid #47BA68;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 10px;

}

.fou {
    width: 380px;
    height: 60px;
    margin: auto;
    border: 2px solid #BEBEBE;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 10px;

}

.fiv {
    width: 380px;
    height: 60px;
    margin: auto;
    border: 2px solid #BEBEBE;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 10px;
}

h5 {
    margin: 0px;
}



.one h5 {
    background-color: #F77171;
    width: 100px;
    margin-left: 50px;
    border-radius: 0px 0px 4px 4px;
}

.oneA h5 {
    background-color: #47BA68;
    width: 100px;
    margin-left: 50px;
    
    border-radius: 0px 0px 4px 4px;
}





p {
    margin: 0px;
}


.c {
    display: inline-block;
    align-items: center;
    justify-content: end;
    margin-left: 50px;
}


.fee li {
    display: inline-flex;
    margin-right: 90px;
}

.fee {
    border-top: 2px solid grey;
    margin-left: 20px;
    margin-bottom: 10px;

}

.offer {
    border: 2px solid #FF0000;
    border-radius: 8px;
    width: 380px;
    margin: auto;
    margin-left: 20px;
    margin-bottom: 10px;
    background: linear-gradient(135deg, rgba(222, 67, 19, 0.2) 0%, rgba(222, 67, 19, 0.2) 0.75%, rgba(222, 67, 19, 0.2) 2.92%, rgba(222, 68, 20, 0.2) 6.37%, rgba(223, 69, 21, 0.2) 10.97%, rgba(223, 72, 22, 0.2) 16.59%, rgba(224, 75, 24, 0.2) 23.1%, rgba(225, 80, 27, 0.2) 30.37%, rgba(227, 86, 31, 0.2) 38.27%, rgba(229, 94, 36, 0.2) 46.66%, rgba(231, 104, 43, 0.2) 55.41%, rgba(235, 117, 51, 0.2) 64.39%, rgba(238, 132, 60, 0.2) 73.47%, rgba(243, 149, 71, 0.2) 82.52%, rgba(248, 169, 84, 0.2) 91.41%, rgba(254, 193, 99, 0.2) 100%);

}


.offer li {
    display: inline-flex;
    margin-right: 90px;

}

.total li {
    display: inline-flex;
    margin-right: 90px;


}

#march {
    font-size: small;
    display: flex;
    justify-content: left;
    color: #DE4313;

}

.second {
    margin: 20px;

}

#gst {
    font-size: small;
}

.fourth li {
    display: inline-flex;

    justify-content: space-evenly;

}

.fourth button {
    margin: 10px;
}


.cancel {
    width: 150px;
    height: 30px;
    background-color: #FFFFFF;
    border: 2px solid #F77171;
    border-radius: 4px;
    color: #F77171;
}

.proceed {
    width: 150px;
    height: 30px;
    background-color: #47BA68;
    border: 2px solid #47BA68;
    color: #FFFFFF;
    border-radius: 4px;

}

.fifth img {
    width: 70px;
    height: 35px;

}

.fifth {
    margin-bottom: 5px;
    display: flex;
    justify-content: left;
    margin-left: 10px;
    margin-bottom: 15px;
}


input[type=radio] {
    border: 0px;
    width: 90%;
    height: 30px;
    margin-right: 20px;



}


input[type='radio']:checked:after {
    width: 90%;
    height: 30px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #47BA68;
    content: ' ';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


.sec:active{
    background-color: #47BA68;
}

.thi:active{
    background-color: #47BA68;
}

.fou:active{
    background-color: #47BA68;
}

.fiv:active{
    background-color: #47BA68;
}

#mo{
    color: #8e8a8a;
}